# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
*.swp
*.swo

# Archivos de copia/respaldo (VS Code "Copiar", etc.)
*(Copiar)*
*copy*
*Copy*
*.bak

# node_modules si usas terser/csso-cli vía npm local
node_modules/
package-lock.json

# Certificados/PDFs originales que no quieres versionar (ajusta si quieres incluir el PDF final)
# THM-5SVOIBNJXM.pdf

# Logs
*.log
